/* * {
  box-sizing: border-box;
} */

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

table {
  border-collapse: collapse;
}
td {
  border: 1px solid #999;
  width: 34px;
  height: 34px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.winner,
.player {
  margin: 10px auto;
  font-weight: bold;
}

button {
  background-color: blueviolet;
  border: none;
  padding: 8px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
}
